<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iMercury.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>68B53E971C62780A00AC397A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68B53EB01C62780A00AC397A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68D4E5AB1C9844B200CB4038</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
